<script setup lang="ts">
import type { OpenQuestion } from "@/types/questions";

interface OpenQuestionProps {
  validationMode: boolean;
  questionIndex: number;
  question: OpenQuestion;
}

defineProps<OpenQuestionProps>();
</script>

<script lang="ts">
interface Data {
  refName: string;
}

export default {
  name: "OpenQuestionAnswer",
  data(): Data {
    return {
      refName: `question-${this.questionIndex}-answer`,
    };
  },
  methods: {
    isAnswerCorrect: function (): boolean {
      return (
        (document.getElementById(this.refName) as HTMLTextAreaElement).value ===
        this.question.answer
      );
    },
  },
};
</script>

<template>
  <section class="field">
    <label :for="refName" class="margin-top-05">Votre réponse</label>
    <textarea
      :name="refName"
      :id="refName"
      required
      minlength="3"
      maxlength="100"
      placeholder="Blanc"
      :disabled="validationMode"
    />
  </section>
  <section v-if="validationMode">
    <p
      :class="{
        'answer-correct': isAnswerCorrect(),
        'answer-incorrect': !isAnswerCorrect(),
      }"
    >
      Réponse {{ isAnswerCorrect() ? "correcte" : "incorrecte" }}
    </p>
    <p v-if="!isAnswerCorrect()">La réponse était : {{ question.answer }}</p>
    <p class="margin-top-1 text-justify" v-if="question.comment">
      <i>{{ question.comment }}</i>
    </p>
  </section>
</template>
