<script setup lang="ts">
import type { SimpleQuestion } from "@/types/questions";

interface SimpleQuestionAnswersProps {
  validationMode: boolean;
  questionIndex: number;
  question: SimpleQuestion;
}

defineProps<SimpleQuestionAnswersProps>();
</script>

<script lang="ts">
export default {
  name: "SimpleQuestionAnswers",
  methods: {
    generateRefName: function (index: number): string {
      return `question-${this.questionIndex}-answer-${index}`;
    },
    isCheched: function (index: number): boolean {
      return (document.getElementById(this.generateRefName(index)) as HTMLInputElement).checked;
    },
  },
};
</script>

<template>
  <section
    v-for="(answer, index) in question.answers"
    :key="answer.id"
    :class="{ 'margin-top-05': index === 0, 'answer-selection': true }"
  >
    <input
      type="radio"
      :name="`question-${questionIndex}-answer`"
      :id="generateRefName(index)"
      :value="answer.value"
      :disabled="validationMode"
    />
    <label
      :for="generateRefName(index)"
      :class="{
        'answer-correct': validationMode && answer.correct,
        'answer-incorrect': validationMode && isCheched(index) && !answer.correct,
      }"
      >{{ answer.value }}</label
    >
  </section>
  <p class="margin-top-1 text-justify" v-if="validationMode && question.comment">
    <i>{{ question.comment }}</i>
  </p>
</template>
