<script setup lang="ts">
import Endpoints from "@/endpoints";
import { fetchEndpoint } from "@/lib";

interface OpenAnswerProps {
  questionIndex: number;
  questionId: number;
  answer: string;
}

defineProps<OpenAnswerProps>();
</script>

<script lang="ts">
interface Data {
  localAnswer: string;
}

export default {
  name: "OpenAnswer",
  data(): Data {
    return {
      localAnswer: this.answer,
    };
  },
  methods: {
    editAnswer: function (): void {
      fetchEndpoint({
        endpoint: Endpoints.getEndpoint(Endpoints.QUESTION, this.questionId.toString()),
        method: "PUT",
        body: JSON.stringify({ answer: this.localAnswer }),
        successMessage: `Réponse de la question ${this.questionIndex + 1} modifiée`,
        errorMessage: "Erreur d'édition de la réponse",
      });
    },
  },
};
</script>

<template>
  <form @submit.prevent="editAnswer" class="form margin-top-2">
    <section class="field">
      <label for="answer">Réponse</label>
      <textarea
        name="answer"
        id="answer"
        required
        minlength="3"
        maxlength="100"
        placeholder="Blanc"
        v-model="localAnswer"
      />
    </section>
    <section class="buttons-group">
      <button>
        <v-icon name="floppy-disk" />
        <span>Sauvegarder</span>
      </button>
    </section>
  </form>
</template>
