<script setup lang="ts">
import type { Answer, QuestionType } from "@/types/questions";
import simpleMultipleAnswer from "./simple-multiple-answer.vue";
import { fetchEndpoint } from "@/lib";
import Endpoints from "@/endpoints";

interface SimpleMultipleAnswerListProps {
  quizzId: number;
  questionId: number;
  questionIndex: number;
  questionType: QuestionType;
  answers: Answer[];
}

defineProps<SimpleMultipleAnswerListProps>();
</script>

<script lang="ts">
interface Data {
  localAnswers: Answer[];
  correctAnswers: number;
}

export default {
  name: "SimpleMultipleAnswerList",
  components: {
    simpleMultipleAnswer,
  },
  data(): Data {
    return {
      localAnswers: this.answers,
      correctAnswers: this.answers.filter((answer: Answer) => answer.correct).length,
    };
  },
  methods: {
    updateCorrectAnswers: function (action: "increment" | "decrement"): void {
      switch (action) {
        case "increment": {
          this.correctAnswers++;
          break;
        }

        case "decrement": {
          this.correctAnswers--;
          break;
        }

        default:
          break;
      }
    },
    deleteAnswer: function (answerIndex: number): void {
      this.localAnswers.splice(answerIndex, 1);
    },
    deleteAllAnswers: function (): void {
      if (this.localAnswers.length === 0) {
        alert(
          "Cette question ne contient aucune réponse. Commencez par ajouter au moins une réponse",
        );

        return;
      }

      fetchEndpoint({
        confirmationMessage: `Êtes-vous sûr de vouloir supprimer toutes les réponses à la question ${
          this.questionIndex + 1
        } ?`,
        endpoint: Endpoints.getEndpoint(Endpoints.QUESTION_ANSWERS, this.questionId.toString()),
        method: "DELETE",
        successMessage: `Les réponses à la question ${this.questionIndex + 1} ont été supprimées`,
        errorMessage: "Erreur de suppression des réponses à la question",
        onSucess: (): void => {
          this.localAnswers = [];
        },
      });
    },
  },
};
</script>

<template>
  <section class="margin-top-2">
    <h2>Réponses</h2>
    <p v-if="localAnswers.length === 0">
      Il semblerait que cette question ne comporte pas de réponses pour le moment...
    </p>
    <section class="buttons-group">
      <RouterLink :to="{ path: '/answer/add', query: { quizzId, questionId, questionIndex } }">
        <v-icon name="circle-plus" />
        <span>Ajouter une réponse</span>
      </RouterLink>
      <button @click="deleteAllAnswers">
        <v-icon name="trash" />
        <span>Supprimer toutes les réponses</span>
      </button>
    </section>
    <section class="margin-top-1 answers">
      <simpleMultipleAnswer
        v-for="(answer, index) in localAnswers"
        :key="answer.id"
        :question-index="questionIndex"
        :answer-index="index"
        :question-type="questionType"
        :answer="answer"
        :correct-answers="correctAnswers"
        @answer-correct-change="updateCorrectAnswers"
        @answer-delete="deleteAnswer"
      />
    </section>
  </section>
</template>
