<script setup lang="ts">
import Endpoints from "@/endpoints";
import { fetchEndpoint } from "@/lib";
import type { Answer, QuestionType } from "@/types/questions";

interface SimpleMultipleAnswerProps {
  questionIndex: number;
  answerIndex: number;
  questionType: QuestionType;
  answer: Answer;
  correctAnswers: number;
}

defineProps<SimpleMultipleAnswerProps>();
defineEmits(["answerCorrectChange", "answerDelete"]);
</script>

<script lang="ts">
interface Data {
  localAnswer: Answer;
}

export default {
  name: "SimpleMultipleAnswer",
  data(): Data {
    return {
      localAnswer: this.answer,
    };
  },
  methods: {
    editAnswer: function (): void {
      if (this.questionType === "simple" && this.correctAnswers > 1) {
        alert("Une question à choix unique ne peut pas contenir plusieurs réponses");

        return;
      }

      fetchEndpoint({
        endpoint: Endpoints.getEndpoint(Endpoints.ANSWER, this.localAnswer.id.toString()),
        method: "PUT",
        body: JSON.stringify({ ...this.localAnswer, id: undefined, quizz_id: undefined }),
        successMessage: `Réponse ${this.answerIndex + 1} de la question ${
          this.questionIndex + 1
        } modifiée`,
        errorMessage: "Erreur d'édition de la réponse",
      });
    },
    deleteAnswer: function (): void {
      fetchEndpoint({
        confirmationMessage: `Voulez-vous supprimer la réponse ${
          this.answerIndex + 1
        } de la question ${this.questionIndex + 1} ?`,
        endpoint: Endpoints.getEndpoint(Endpoints.ANSWER, this.localAnswer.id.toString()),
        method: "DELETE",
        successMessage: `Réponse ${this.answerIndex + 1} de la question ${
          this.questionIndex + 1
        } supprimée`,
        errorMessage: "Erreur de suppression de la réponse",
      });
    },
  },
};
</script>

<template>
  <form class="form">
    <h3>Réponse {{ answerIndex + 1 }}</h3>
    <section class="field">
      <label :for="`question-${questionIndex}-answer-${answerIndex}-value`">Valeur</label>
      <textarea
        :name="`question-${questionIndex}-answer-${answerIndex}-value`"
        :id="`question-${questionIndex}-answer-${answerIndex}-value`"
        required
        minlength="3"
        maxlength="100"
        placeholder="Blanc"
        v-model="localAnswer.value"
      />
    </section>
    <section class="field">
      <label :for="`question-${questionIndex}-answer-${answerIndex}-correct`"
        >Réponse Correcte ?</label
      >
      <input
        type="checkbox"
        :name="`question-${questionIndex}-answer-${answerIndex}-correct`"
        :id="`question-${questionIndex}-answer-${answerIndex}-correct`"
        v-model="localAnswer.correct"
        @change="$emit('answerCorrectChange', localAnswer.correct ? 'increment' : 'decrement')"
      />
    </section>
    <section class="buttons-group">
      <button type="button" @click="editAnswer">
        <v-icon name="floppy-disk" />
        <span>Sauvegarder</span>
      </button>
      <button type="button" @click="deleteAnswer">
        <v-icon name="trash" />
        <span>Supprimer</span>
      </button>
    </section>
  </form>
</template>
