<script setup lang="ts">
interface ErrorProps {
  message: string;
}

defineProps<ErrorProps>();
</script>

<script lang="ts">
export default {
  name: "ErrorComponent",
};
</script>

<template>
  <section class="fallback-root">
    <section class="fallback">
      <h2>Une erreur est survenue</h2>
      <p class="margin-top-1">{{ message }}</p>
    </section>
  </section>
</template>
