<script setup lang="ts">
interface LoaderProps {
  message?: string;
}

defineProps<LoaderProps>();
</script>

<script lang="ts">
import svgLoader from "@/assets/svg/svg-loader.vue";

export default {
  name: "LoaderComponent",
  components: {
    svgLoader,
  },
};
</script>

<template>
  <section class="fallback-root">
    <section class="fallack">
      <svgLoader />
      <p class="margin-top-1">{{ message ?? "Loading the resource you requested..." }}</p>
    </section>
  </section>
</template>
