<script lang="ts">
export default {
  name: "NotFoundComponent",
};
</script>

<template>
  <section class="fallback-root">
    <section class="fallback">
      <h2>404</h2>
      <p class="margin-top-1">La page que vous cherchez à atteindre n'existe pas</p>
    </section>
  </section>
</template>
