<script lang="ts">
import Endpoints from "@/endpoints";
import type { Quizz } from "@/types/quizz";
import "@/assets/css/quizz.css";
import { fetchEndpoint } from "@/lib";

interface Data {
  quizz: Partial<Quizz>;
}

export default {
  name: "AddQuizz",
  data(): Data {
    return {
      quizz: {
        name: "",
        description: "",
        attachment: "",
        shuffle_questions: true,
      },
    };
  },
  methods: {
    addQuizz: function (): void {
      fetchEndpoint({
        endpoint: Endpoints.getEndpoint(Endpoints.QUIZZ_ROOT),
        method: "POST",
        body: JSON.stringify(this.quizz),
        successMessage: "Quizz ajouté",
        errorMessage: "Erreur d'ajout du quizz",
        onSucess: (): void => {
          this.$router.push("/home");
        },
      });
    },
  },
};
</script>

<template>
  <section v-if="quizz">
    <h1>Ajouter un nouveau quizz</h1>
    <form @submit.prevent="addQuizz" class="form add-quizz">
      <section class="field">
        <label for="name">Nom</label>
        <input
          type="text"
          name="name"
          id="name"
          required
          min="3"
          max="100"
          placeholder="Sword Art Online"
          v-model="quizz.name"
        />
      </section>
      <section class="field">
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          min="3"
          max="300"
          placeholder='Quizz portant sur l&apos;animé "Sword Art Online"'
          v-model="quizz.description"
        />
      </section>
      <section class="field">
        <label for="attachment">Logo</label>
        <textarea
          name="attachment"
          id="attachment"
          min="20"
          max="500"
          placeholder="https://cdn.example.com/logo.webp"
          v-model="quizz.attachment"
        />
      </section>
      <section class="field">
        <label for="shuffle-questions">Mélanger les questions ?</label>
        <input
          type="checkbox"
          name="shuffle-questions"
          id="shuffle-questions"
          placeholder="Sword Art Online"
          v-model="quizz.shuffle_questions"
        />
      </section>
      <section class="buttons-group">
        <RouterLink to="/home">
          <v-icon name="house" />
          <span>Retour à l'accueil</span>
        </RouterLink>
        <button type="submit">
          <v-icon name="circle-plus" />
          <span>Ajouter</span>
        </button>
      </section>
    </form>
  </section>
</template>
