<script lang="ts">
import Endpoints from "@/endpoints";
import type { Quizz } from "@/types/quizz";
import questionsList from "@/components/questions/questions-list.vue";
import errorComponent from "@/components/error-component.vue";
import "@/assets/css/quizz.css";
import { fetchEndpoint } from "@/lib";

interface Data {
  quizz: Quizz | null;
  attachment?: string;
  error: string | null;
}

export default {
  name: "EditQuizz",
  components: {
    questionsList,
    errorComponent,
  },
  data(): Data {
    return {
      quizz: null,
      attachment: undefined,
      error: null,
    };
  },
  methods: {
    editQuizz: function (): void {
      fetchEndpoint({
        endpoint: Endpoints.getEndpoint(Endpoints.QUIZZ, this.quizz?.id.toString()),
        method: "PUT",
        body: JSON.stringify({ ...this.quizz, id: undefined }),
        successMessage: "Quizz modifié",
        errorMessage: "Erreur de modification du quizz",
        onSucess: (): void => {
          this.attachment = this.quizz?.attachment;
        },
      });
    },
  },
  async mounted(): Promise<void> {
    const quizzId = this.$route.params.id as string;

    if (!quizzId.match(/\d/)) {
      this.error = "Veuillez renseigner un identifiant de quizz valide";

      return;
    }

    const data = await fetchEndpoint<Quizz>({
      endpoint: Endpoints.getEndpoint(Endpoints.QUIZZ, quizzId),
      onError: (statusCode?: number): void => {
        if (statusCode && statusCode === 404) {
          this.error = "Aucun quizz n'a été trouvé pour l'identifiant fourni";
        } else {
          this.error = "Erreur de récupération des informations du quizz";
        }
      },
    });

    if (data !== null) {
      this.quizz = data;
      this.attachment = this.quizz.attachment;
    }
  },
};
</script>

<template>
  <errorComponent :message="error" v-if="error" />
  <section v-else-if="quizz">
    <h1>Quizz "{{ quizz.name }}"</h1>
    <img
      :src="attachment"
      :alt="quizz.name"
      draggable="false"
      class="logo"
      v-if="quizz.attachment"
    />
    <form @submit.prevent="editQuizz" class="form">
      <section class="field">
        <label for="quizz-name">Nom</label>
        <input
          type="text"
          name="quizz-name"
          id="quizz-name"
          required
          min="3"
          max="100"
          placeholder="Sword Art Online"
          v-model="quizz.name"
        />
      </section>
      <section class="field">
        <label for="quizz-description">Description</label>
        <textarea
          name="quizz-description"
          id="quizz-description"
          minlength="3"
          maxlength="300"
          placeholder='Quizz portant sur l&apos;animé "Sword Art Online"'
          v-model="quizz.description"
        />
      </section>
      <section class="field">
        <label for="quizz-attachment">Logo</label>
        <textarea
          name="quizz-attachment"
          id="quizz-attachment"
          minlength="20"
          maxlength="500"
          placeholder="https://cdn.example.com/logo.webp"
          v-model="quizz.attachment"
        />
      </section>
      <section class="field">
        <label for="quizz-shuffle-questions">Mélanger les questions ?</label>
        <input
          type="checkbox"
          name="quizz-shuffle-questions"
          id="quizz-shuffle-questions"
          v-model="quizz.shuffle_questions"
        />
      </section>
      <section class="buttons-group">
        <RouterLink to="/home">
          <v-icon name="house" />
          <span>Retour à l'accueil</span>
        </RouterLink>
        <button type="submit">
          <v-icon name="floppy-disk" />
          <span>Sauvegarder</span>
        </button>
      </section>
    </form>
    <questionsList :quizz-id="quizz.id" />
  </section>
</template>
