<script lang="ts">
import Endpoints from "@/endpoints";
import { fetchEndpoint, formatQuestionType, shuffleArray } from "@/lib";
import type { Question } from "@/types/questions";
import type { Quizz } from "@/types/quizz";
import errorComponent from "@/components/error-component.vue";
import openQuestionAnswer from "@/components/play-quizz/open-question-answer.vue";
import simpleQuestionAnswers from "@/components/play-quizz/simple-question-answers.vue";
import multipleQuestionAnswers from "@/components/play-quizz/multiple-question-answers.vue";
import "@/assets/css/quizz.css";

interface Data {
  quizz: Quizz | null;
  quizzQuestions: Question[] | null;
  error: string | null;
  validationMode: boolean;
}

export default {
  name: "PlayQuizz",
  components: {
    errorComponent,
    openQuestionAnswer,
    simpleQuestionAnswers,
    multipleQuestionAnswers,
  },
  data(): Data {
    return {
      quizz: null,
      quizzQuestions: null,
      error: null,
      validationMode: false,
    };
  },
  methods: {
    formatQuestionType,
    validateAnswers: function (): void {
      const confirmation: boolean = confirm("Êtes-vous sûrs de vouloir envoyer vos réponses ?");

      if (!this.quizz || !this.quizzQuestions || !confirmation) {
        return;
      }

      this.validationMode = true;

      (this.$refs.pageTop as HTMLTitleElement).scrollIntoView({ behavior: "smooth" });
    },
    returnToHome: function (): void {
      if (this.validationMode) {
        this.$router.push("/home");
      } else {
        const confirmation: boolean = confirm("Voulez-vous interrompre cette tentative ?");

        if (confirmation) {
          this.$router.push("/home");
        }
      }
    },
  },
  async mounted(): Promise<void> {
    const quizzId = this.$route.params.id as string;

    if (!quizzId.match(/\d/)) {
      this.error = "Veuillez renseigner un identifiant de quizz valide";

      return;
    }

    const quizzData = await fetchEndpoint<Quizz>({
      endpoint: Endpoints.getEndpoint(Endpoints.QUIZZ, quizzId),
      onError: (statusCode?: number): void => {
        if (statusCode && statusCode === 404) {
          this.error = "Aucun quizz n'a été trouvé pour l'identifiant fourni";
        } else {
          this.error = "Erreur de récupération des informations du quizz";
        }
      },
    });
    const quizzQuestionsData = await fetchEndpoint<Question[]>({
      endpoint: Endpoints.getEndpoint(Endpoints.QUIZZ_QUESTIONS, quizzId),
      onError: (): void => {
        this.error = "Erreur de récupération des informations des questions";
      },
    });

    if (quizzData !== null && quizzQuestionsData !== null) {
      const confirmation: boolean = confirm(
        `Vous êtes sur le point de démarrer une tentative pour le quizz "${quizzData.name}". Voulez-vous continuer ?`,
      );

      if (!confirmation) {
        this.$router.push("/home");

        return;
      }

      this.quizz = quizzData;
      const shuffledQuestions: Question[] = [...quizzQuestionsData];

      shuffleArray(shuffledQuestions);

      this.quizzQuestions = shuffledQuestions;
    }
  },
};
</script>

<template>
  <errorComponent :message="error" v-if="error" />
  <section v-else-if="quizz && quizzQuestions">
    <h1 ref="pageTop">
      Quizz "{{ quizz.name }}" - {{ validationMode ? "Résultats" : "Tentative" }}
    </h1>
    <p v-if="quizz.description">{{ quizz.description }}</p>
    <img
      :src="quizz.attachment"
      :alt="quizz.name"
      draggable="false"
      class="logo"
      v-if="quizz.attachment"
    />
    <form @submit.prevent="validateAnswers" class="form play-quizz">
      <section
        v-for="(question, index) in quizzQuestions"
        :key="question.id"
        :class="{ 'play-quizz-question-margin': index > 0, 'play-quizz-question': true }"
      >
        <section>
          <h2>Question {{ index + 1 }} ({{ formatQuestionType(question.question_type) }})</h2>
          <h3>{{ question.title }}</h3>

          <openQuestionAnswer
            :validation-mode="validationMode"
            :question-index="index"
            :question="question"
            v-if="question.question_type === 'open'"
          />
          <simpleQuestionAnswers
            :validation-mode="validationMode"
            :question-index="index"
            :question="question"
            v-else-if="question.question_type === 'simple'"
          />
          <multipleQuestionAnswers
            :validation-mode="validationMode"
            :question-index="index"
            :question="question"
            v-else
          />
        </section>
        <img
          :src="question.attachment"
          :alt="question.title"
          v-if="validationMode && question.attachment"
          draggable="false"
        />
      </section>
      <section class="buttons-group">
        <button type="button" @click="returnToHome">
          <v-icon name="house" />
          <span>Retour à l'accueil</span>
        </button>
        <button :disabled="validationMode">
          <v-icon name="upload" />
          <span>Soumettre</span>
        </button>
      </section>
    </form>
  </section>
</template>
