<script lang="ts">
import Endpoints from "@/endpoints";
import "@/assets/css/quizz.css";
import type { Question } from "@/types/questions";
import errorComponent from "@/components/error-component.vue";
import { fetchEndpoint } from "@/lib";
import type { Quizz } from "@/types/quizz";

interface Data {
  pageTitle: string | null;
  quizzId: number | null;
  question: Partial<Question>;
  error: null | string;
}

export default {
  name: "AddQuestion",
  components: {
    errorComponent,
  },
  data(): Data {
    return {
      pageTitle: null,
      quizzId: null,
      question: {
        question_type: "open",
        title: "",
        comment: "",
        attachment: "",
        answer: "",
      },
      error: null,
    };
  },
  methods: {
    onQuestionTypeChange: function (): void {
      switch (this.question.question_type) {
        case "open":
          this.question = {
            question_type: this.question.question_type,
            title: "",
            comment: "",
            attachment: "",
            answer: "",
          };

          break;

        case "simple":
        case "multiple":
          this.question = {
            question_type: this.question.question_type,
            title: "",
            comment: "",
            attachment: "",
          };

          break;

        default:
          break;
      }
    },
    addQuestion: function (): void {
      fetchEndpoint({
        endpoint: Endpoints.getEndpoint(Endpoints.QUESTION_ROOT, this.question.question_type),
        method: "POST",
        body: JSON.stringify({
          ...this.question,
          question_type: undefined,
          quizz_id: this.quizzId,
        }),
        successMessage: "Question ajoutée",
        errorMessage: "Erreur d'ajout de la question",
        onSucess: (): void => {
          this.$router.push(`/quizz/${this.quizzId}/edit`);
        },
      });
    },
  },
  async mounted(): Promise<void> {
    const quizzId = this.$route.query.quizzId as string;

    if (!quizzId || !quizzId.match(/\d/)) {
      this.error = "Veuillez renseigner un identifiant de questionnaire valide.";

      return;
    }

    this.quizzId = Number(quizzId);

    const data = await fetchEndpoint<Quizz>({
      endpoint: Endpoints.getEndpoint(Endpoints.QUIZZ, quizzId),
      onError: (statusCode?: number): void => {
        if (statusCode && statusCode === 404) {
          this.error = "Aucun quizz n'a été trouvé pour l'identifiant fourni";
        } else {
          this.error = "Erreur de récupération des informations du quizz";
        }
      },
    });

    if (data !== null) {
      this.pageTitle = data.name;
    }
  },
};
</script>

<template>
  <errorComponent :message="error" v-if="error" />
  <div v-else-if="pageTitle">
    <h1>Quizz "{{ pageTitle }}"</h1>
    <h2>Ajout d'une question</h2>
    <form @submit.prevent="addQuestion" class="margin-top-1 form">
      <section class="field">
        <label for="question-selector"></label>
        <select
          name="question-selector"
          id="question-selector"
          v-model="question.question_type"
          @change="onQuestionTypeChange"
        >
          <option value="open">Question ouverte</option>
          <option value="simple">Question à choix unique</option>
          <option value="multiple">Question à choix multiple</option>
        </select>
      </section>
      <section class="field">
        <label for="title">Titre</label>
        <textarea
          name="title"
          id="title"
          required
          minlength="3"
          maxlength="100"
          placeholder="Quelle est la couleur du cheval blanc de Henri IV ?"
          v-model="question.title"
        />
      </section>
      <section class="field">
        <label for="comment">Commentaire</label>
        <textarea
          name="comment"
          id="comment"
          minlength="3"
          maxlength="1000"
          placeholder="Lorem ipsum"
          v-model="question.comment"
        />
      </section>
      <section class="field">
        <label for="attachment">Illustration</label>
        <textarea
          name="attachment"
          id="attachment"
          minlength="20"
          maxlength="500"
          placeholder="https://cdn.example.com/attachment.webp"
          v-model="question.attachment"
        />
      </section>
      <section class="field" v-if="question.question_type === 'open'">
        <label for="answer">Réponse</label>
        <textarea
          name="answer"
          id="answer"
          required
          minlength="3"
          maxlength="100"
          placeholder="Blanc"
          v-model="question.answer"
        />
      </section>
      <section class="buttons-group">
        <RouterLink :to="`/quizz/${quizzId}/edit`">
          <v-icon name="pen-to-square" />
          <span>Retour à l'édition</span>
        </RouterLink>
        <button>
          <v-icon name="circle-plus" />
          <span>Ajouter</span>
        </button>
      </section>
    </form>
  </div>
</template>
