<script lang="ts">
import Endpoints from "@/endpoints";
import "@/assets/css/quizz.css";
import type { Answer, Question, QuestionType } from "@/types/questions";
import errorComponent from "@/components/error-component.vue";
import { fetchEndpoint, formatQuestionType } from "@/lib";
import type { Quizz } from "@/types/quizz";

interface Data {
  highLevelPageTitle: string | null;
  lowLevelPageTitle: string | null;
  quizzId: number | null;
  questionType: QuestionType | null;
  questionAnswers: number | null;
  answer: Partial<Answer>;
  error: null | string;
}

export default {
  name: "AddAnswer",
  components: {
    errorComponent,
  },
  data(): Data {
    return {
      highLevelPageTitle: null,
      lowLevelPageTitle: null,
      quizzId: null,
      questionType: null,
      questionAnswers: null,
      answer: {
        value: "",
        correct: false,
      },
      error: null,
    };
  },
  methods: {
    addAnswer: function (): void {
      fetchEndpoint({
        endpoint: Endpoints.getEndpoint(Endpoints.ANSWER_ROOT, this.answer.question_id?.toString()),
        method: "POST",
        body: JSON.stringify(this.answer),
        successMessage: "Réponse ajoutée",
        errorMessage: "Erreur d'ajout de la réponse",
        onSucess: (): void => {
          this.$router.push(`/quizz/${this.quizzId}/edit`);
        },
      });
    },
  },
  async mounted(): Promise<void> {
    const quizzId = this.$route.query.quizzId as string | undefined;
    const questionId = this.$route.query.questionId as string | undefined;
    const questionIndex = this.$route.query.questionIndex as string | undefined;
    const numberPattern: RegExp = /\d/;

    if (!quizzId || !quizzId.match(numberPattern)) {
      this.error = "Veuillez renseigner un identifiant de questionnaire valide";
    } else if (!questionId || !questionId.match(numberPattern)) {
      this.error = "Veuillez renseigner un identifiant de question valide";
    } else if (!questionIndex || !questionIndex.match(numberPattern)) {
      this.error = "Veuillez renseigner un numéro de question valide";
    } else {
      this.quizzId = Number(quizzId);
      this.answer.question_id = Number(questionId);

      const quizzData = await fetchEndpoint<Quizz>({
        endpoint: Endpoints.getEndpoint(Endpoints.QUIZZ, quizzId),
        onError: (statusCode?: number): void => {
          if (statusCode && statusCode === 404) {
            this.error = "Aucun quizz n'a été trouvé pour l'identifiant fourni";
          } else {
            this.error = "Erreur de récupération des informations du quizz";
          }
        },
      });
      const questionData = await fetchEndpoint<Question>({
        endpoint: Endpoints.getEndpoint(Endpoints.QUESTION, questionId),
        onError: (statusCode?: number): void => {
          if (statusCode && statusCode === 404) {
            this.error = "Aucune question n'a été trouvé pour l'identifiant fourni";
          } else {
            this.error = "Erreur de récupération des informations de la question";
          }
        },
      });

      if (quizzData === null || questionData === null) {
        return;
      }

      if (questionData.quizz_id !== quizzData.id) {
        this.error = "Cette question n'appartient pas à l'identifiant de quizz renseigné";
      } else if (questionData.question_type === "open") {
        this.error = "Une question ouverte ne peut pas avoir plusieurs réponses";
      } else {
        this.highLevelPageTitle = `Quizz "${quizzData.name}"`;
        this.lowLevelPageTitle = `Ajout d'une réponse à la question ${
          Number(questionIndex) + 1
        } (${formatQuestionType(questionData.question_type)})`;
        this.questionType = questionData.question_type;
        this.questionAnswers = questionData.answers.filter(
          (answer: Answer) => answer.correct,
        ).length;
      }
    }
  },
};
</script>

<template>
  <errorComponent :message="error" v-if="error" />
  <div
    v-else-if="highLevelPageTitle && lowLevelPageTitle && questionType && questionAnswers !== null"
  >
    <h1>{{ highLevelPageTitle }}</h1>
    <h2>{{ lowLevelPageTitle }}</h2>
    <p class="margin-top-1 warning" v-if="questionType === 'simple' && questionAnswers === 1">
      <v-icon name="message" />
      <span>Cette question comporte déjà une réponse correcte</span>
    </p>
    <form @submit.prevent="addAnswer" class="margin-top-1 form">
      <section class="field">
        <label for="value">Valeur</label>
        <textarea
          name="value"
          id="value"
          required
          minlength="3"
          maxlength="100"
          placeholder="Blanc"
          v-model="answer.value"
        />
      </section>
      <section
        class="field"
        v-if="(questionType === 'simple' && questionAnswers === 0) || questionType === 'multiple'"
      >
        <label for="correct">Réponse correcte ?</label>
        <input type="checkbox" name="correct" id="correct" v-model="answer.correct" />
      </section>
      <section class="buttons-group">
        <RouterLink :to="`/quizz/${quizzId}/edit`">
          <v-icon name="pen-to-square" />
          <span>Retour à l'édition</span>
        </RouterLink>
        <button>
          <v-icon name="circle-plus" />
          <span>Ajouter</span>
        </button>
      </section>
    </form>
  </div>
</template>
