<script lang="ts">
import "@/assets/css/quizz.css";
import quizzList from "@/components/quizz/quizz-list.vue";
import Endpoints from "@/endpoints";
import { fetchEndpoint } from "@/lib";

interface Data {
  quizzListRefreshs: number;
}

export default {
  name: "HomePage",
  components: {
    quizzList,
  },
  data(): Data {
    return {
      quizzListRefreshs: 0,
    };
  },
  methods: {
    triggerQuizzImport: function (): void {
      (this.$refs.quizzImport as HTMLInputElement).click();
    },
    onFileChange: function (): void {
      const fileReader = new FileReader();
      const quizzImport = this.$refs.quizzImport as HTMLInputElement;

      fileReader.readAsText((quizzImport.files as FileList)[0]);
      fileReader.onload = (): void => {
        const fileContent: string | ArrayBuffer | null = fileReader.result;

        if (typeof fileContent !== "string") {
          alert("Contenu de fichier invalide");

          return;
        }

        fetchEndpoint({
          endpoint: Endpoints.getEndpoint(Endpoints.QUIZZ_IMPORT),
          method: "POST",
          body: fileContent,
          successMessage: "Quizz importé",
          errorMessage: "Erreur d'import du quizz. Vérifiez votre fichier",
          onSucess: (): void => {
            this.quizzListRefreshs++;
          },
        });
      };
    },
  },
};
</script>

<template>
  <h1>Mes questionnaires</h1>
  <section class="buttons-group">
    <RouterLink to="/quizz/add">
      <v-icon name="circle-plus" />
      <span>Ajouter un quizz</span>
    </RouterLink>
    <button @click="triggerQuizzImport">
      <input
        type="file"
        name="quizz-import"
        id="quizz-import"
        hidden
        accept="application/json"
        ref="quizzImport"
        @change="onFileChange"
      />
      <v-icon name="upload" />
      <span>Importer un quizz</span>
    </button>
  </section>
  <quizzList :key="quizzListRefreshs" />
</template>
