<script lang="ts">
import Endpoints from "@/endpoints";
import quizzItem from "./quizz-item.vue";
import type { Quizz } from "@/types/quizz";
import { fetchEndpoint } from "@/lib";

interface Data {
  quizzsList: Quizz[];
}

export default {
  name: "QuizzsList",
  components: {
    quizzItem,
  },
  data(): Data {
    return {
      quizzsList: [],
    };
  },
  methods: {
    deleteQuizz: function (quizz: Quizz): void {
      const index: number = this.quizzsList.indexOf(quizz);

      this.quizzsList.splice(index, 1);
    },
  },
  async mounted(): Promise<void> {
    const data = await fetchEndpoint<Quizz[]>({
      endpoint: Endpoints.getEndpoint(Endpoints.QUIZZ_ROOT),
      errorMessage: "Erreur de récupération des quizzs",
    });

    if (data !== null) {
      this.quizzsList = data;
    }
  },
};
</script>

<template>
  <p class="margin-top-4" v-if="!quizzsList || quizzsList.length === 0">
    Il semblerait qu'il n'y ai aucun quizz pour le moment...<br />
    Commencez par ajouter ou importer un quizz
  </p>
  <section class="quizz-list" v-else>
    <quizzItem
      v-for="quizz in quizzsList"
      :key="quizz.id"
      :quizz="quizz"
      @quizz-delete="deleteQuizz"
    />
  </section>
</template>
