<script setup lang="ts">
import Endpoints from "@/endpoints";
import { fetchEndpoint } from "@/lib";
import type { Quizz } from "@/types/quizz";

interface QuizzItemProps {
  quizz: Quizz;
}

defineProps<QuizzItemProps>();
defineEmits(["quizzDelete"]);
</script>

<script lang="ts">
export default {
  name: "QuizzItem",
  methods: {
    exportQuizz: function (): void {
      window.open(Endpoints.getEndpoint(Endpoints.QUIZZ_EXPORT, this.quizz.id.toString()));
    },
    deleteQuizz: async function (): Promise<void> {
      fetchEndpoint({
        confirmationMessage: `Voulez-vous supprimer le quizz "${this.quizz.name}" ?`,
        endpoint: Endpoints.getEndpoint(Endpoints.QUIZZ, this.quizz.id.toString()),
        method: "DELETE",
        successMessage: `Le quizz "${this.quizz.name}" a été supprimé`,
        errorMessage: "Erreur de suppression du quizz",
        onSucess: (): void => {
          this.$emit("quizzDelete", this.quizz);
        },
      });
    },
  },
};
</script>

<template>
  <section class="quizz">
    <h2>{{ quizz.name }}</h2>
    <p>{{ quizz.description || "Quizz sans description" }}</p>
    <img
      :src="quizz.attachment"
      :alt="quizz.name"
      draggable="false"
      class="logo"
      v-if="quizz.attachment"
    />
    <section class="buttons-group">
      <RouterLink :to="{ path: `/quizz/${quizz.id}/edit` }">
        <v-icon name="pen-to-square" />
        <span>Éditer</span>
      </RouterLink>
      <button @click="exportQuizz">
        <v-icon name="file-export" />
        <span>Exporter</span>
      </button>
      <button @click="deleteQuizz">
        <v-icon name="trash" />
        <span>Supprimer</span>
      </button>
      <RouterLink :to="{ path: `/quizz/${quizz.id}/play` }">
        <v-icon name="circle-play" />
        <span>Démarrer</span>
      </RouterLink>
    </section>
  </section>
</template>
