<script setup lang="ts">
import Endpoints from "@/endpoints";
import type { Question } from "@/types/questions";
import openAnswer from "../answers/open-answer.vue";
import simpleMultipleAnswerList from "../answers/simple-multiple-answer-list.vue";
import { fetchEndpoint, formatQuestionType } from "@/lib";

interface QuestionItemProps {
  questionIndex: number;
  question: Question;
}

defineProps<QuestionItemProps>();
defineEmits(["questionDelete"]);
</script>

<script lang="ts">
interface Data {
  localQuestion: Question;
  attachment?: string;
}

export default {
  name: "QuestionItem",
  components: {
    openAnswer,
    simpleMultipleAnswerList,
  },
  data(): Data {
    return {
      localQuestion: this.question,
      attachment: this.question.attachment,
    };
  },
  methods: {
    editQuestion: async function (): Promise<void> {
      fetchEndpoint({
        endpoint: Endpoints.getEndpoint(Endpoints.QUESTION, this.localQuestion.id.toString()),
        method: "PUT",
        body: JSON.stringify({
          ...this.localQuestion,
          id: undefined,
          quizz_id: undefined,
          question_type: undefined,
          answers: undefined,
        }),
        successMessage: `Question ${this.questionIndex + 1} modifiée`,
        errorMessage: "Erreur d'édition de la question",
        onSucess: (): void => {
          this.attachment = this.localQuestion.attachment;
        },
      });
    },
    deleteQuestion: function (): void {
      fetchEndpoint({
        confirmationMessage: `Êtes-vous sûr de vouloir supprimer la question ${
          this.questionIndex + 1
        } ?`,
        endpoint: Endpoints.getEndpoint(Endpoints.QUESTION, this.localQuestion.id.toString()),
        method: "DELETE",
        successMessage: `Question ${this.questionIndex + 1} supprimée`,
        errorMessage: "Erreur de suppression de la question",
        onSucess: (): void => {
          this.$emit("questionDelete", this.questionIndex);
        },
      });
    },
  },
};
</script>

<template>
  <fieldset>
    <legend>
      Question {{ questionIndex + 1 }} ({{ formatQuestionType(localQuestion.question_type) }})
    </legend>
    <section class="question-main">
      <form class="form">
        <section class="field">
          <label :for="`question-${questionIndex}-title`">Titre</label>
          <textarea
            :name="`question-${questionIndex}-title`"
            :id="`question-${questionIndex}-title`"
            required
            minlength="3"
            maxlength="300"
            placeholder="Quelle est la couleur du cheval blanc de Henri IV"
            v-model="localQuestion.title"
          />
        </section>
        <section class="field">
          <label :for="`question-${questionIndex}-comment`">Commentaire</label>
          <textarea
            :name="`question-${questionIndex}-comment`"
            :id="`question-${questionIndex}-comment`"
            required
            minlength="3"
            maxlength="1000"
            placeholder="Lorem ipsum"
            v-model="localQuestion.comment"
          />
        </section>
        <section class="field">
          <label :for="`question-${questionIndex}-attachment`">Illustration</label>
          <textarea
            :name="`question-${questionIndex}-attachment`"
            :id="`question-${questionIndex}-attachment`"
            required
            minlength="3"
            maxlength="300"
            placeholder="https://cdn.example.com/attachment.webp"
            v-model="localQuestion.attachment"
          />
        </section>
        <section class="buttons-group">
          <button type="button" @click="editQuestion">
            <v-icon name="floppy-disk" />
            <span>Sauvegarder</span>
          </button>
          <button type="button" @click="deleteQuestion">
            <v-icon name="trash" />
            <span>Supprimer</span>
          </button>
        </section>
      </form>
      <img
        :src="attachment"
        :alt="localQuestion.title"
        draggable="false"
        v-if="localQuestion.attachment"
      />
    </section>
    <openAnswer
      :question-id="localQuestion.id"
      :question-index="questionIndex"
      :answer="localQuestion.answer"
      v-if="localQuestion.question_type === 'open'"
    />
    <simpleMultipleAnswerList
      :quizz-id="localQuestion.quizz_id"
      :question-id="localQuestion.id"
      :question-index="questionIndex"
      :question-type="localQuestion.question_type"
      :answers="localQuestion.answers"
      v-if="localQuestion.question_type === 'simple' || localQuestion.question_type === 'multiple'"
    />
  </fieldset>
</template>
