<script setup lang="ts">
import Endpoints from "@/endpoints";
import type { Question } from "@/types/questions";
import questionItem from "./question-item.vue";
import { fetchEndpoint } from "@/lib";

interface QuestionsListProps {
  quizzId: number;
}

defineProps<QuestionsListProps>();
</script>

<script lang="ts">
interface Data {
  questions: Question[];
}

export default {
  name: "QuestionsList",
  components: {
    questionItem,
  },
  data(): Data {
    return {
      questions: [],
    };
  },
  methods: {
    deleteQuestion: function (questionId: number): void {
      this.questions.splice(questionId, 1);
    },
    deleteAllQuestions: function (): void {
      if (this.questions.length === 0) {
        alert("Ce quizz ne comporte aucune question. Commencez par ajouter au moins une question");

        return;
      }

      fetchEndpoint({
        confirmationMessage: "Êtes-vous sûr de vouloir supprimer toute les questions de ce quizz ?",
        endpoint: Endpoints.getEndpoint(Endpoints.QUIZZ_QUESTIONS, this.quizzId.toString()),
        method: "DELETE",
        successMessage: "Toutes les questions ont été supprimées",
        errorMessage: "Erreur de suppression des questions",
        onSucess: (): void => {
          this.questions = [];
        },
      });
    },
  },
  async mounted(): Promise<void> {
    const data = await fetchEndpoint<Question[]>({
      endpoint: Endpoints.getEndpoint(Endpoints.QUIZZ_QUESTIONS, this.quizzId.toString()),
      errorMessage: "Erreur de récupération des questions du quizz",
    });

    if (data !== null) {
      this.questions = data;
    }
  },
};
</script>

<template>
  <section class="questions">
    <h2>Questions</h2>
    <section class="buttons-group margin-reset">
      <RouterLink :to="{ path: '/question/add', query: { quizzId } }">
        <v-icon name="circle-plus" />
        <span>Ajouter une question</span>
      </RouterLink>
      <button @click="deleteAllQuestions">
        <v-icon name="trash" />
        <span>Supprimer toutes les questions</span>
      </button>
    </section>
    <questionItem
      v-for="(question, index) in questions"
      :key="question.id"
      :question-index="index"
      :question="question"
      @question-delete="deleteQuestion"
      class="question"
    />
  </section>
</template>
