.fallback-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app > .fallback-root {
  height: calc(100vh - 4rem);
}

.fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fallback svg {
  width: 64px;
  height: 64px;

  fill: var(--color-text);
}
