@import "./base.css";

.buttons-group {
  width: fit-content;
  margin-top: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.buttons-group a {
  text-decoration: none;
  color: var(--color-text);
}

.buttons-group a,
.buttons-group button {
  min-width: 13rem;
  padding: 0.75rem;

  display: flex;
  flex: 1rem;
  align-items: center;

  border: 0.15rem solid var(--color-border);
  border-radius: 5px;
  transition: border 300ms;
}

.buttons-group a:hover,
.buttons-group button:hover {
  border: 0.15rem solid var(--color-border-hover);
}

.buttons-group a svg,
.buttons-group button svg {
  margin-right: 0.75rem;
  height: 1.2rem;
}

.form,
.form .field {
  max-width: 40rem;

  display: grid;
  grid-auto-columns: 1fr;
}

@media screen and (max-width: 600px) {
  .form,
  .form .field {
    max-width: unset;
  }
}

.form {
  grid-gap: 1rem;
}

.form .field {
  grid-gap: 0.25rem;
}

.form .field  input[type="checkbox"] {
  width: fit-content;
}

input,
textarea,
select {
  padding: 0.5rem;

  border: 0.15rem solid var(--color-border-hover);
  border-radius: 5px;
  background-color: var(--color-background-mute);

  font-size: 1rem;
}

textarea {
  min-height: 8rem;
  resize: none;
}

button {
  padding: 0.5rem;

  border: 0.15rem solid var(--color-border-hover);
  border-radius: 5px;
  background-color: transparent;
}

select,
button {
  cursor: pointer;
}

.text-justify {
  text-align: justify;
}
