.quizz-list {
  margin-top: 4rem;

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(50ch, 1fr));
  grid-auto-rows: 1fr;
}

.quizz {
  padding: 2rem;

  display: flex;
  flex-direction: column;

  background-color: var(--color-background-mute);
  border-radius: 5px;
  box-shadow: 0 0 0.3rem var(--shadow);
}

.quizz p {
  margin-top: 0.5rem;
}

.quizz img {
  margin-top: 2rem;
  max-width: max-content;
}

.quizz .buttons-group {
  margin-top: auto;
}

.logo {
  margin: 2rem 0;
  max-height: 6rem;
  max-width: calc(100vw - 4rem);
  object-fit: contain;
}

.add-quizz {
    margin-top: 2rem;
}

.questions {
  margin-top: 2rem;

  display: grid;
  grid-gap: 2rem;
}

.question {
  padding: 1rem 2rem;

  border-radius: 10px;
  border: 0.15rem solid var(--color-border-hover);
}

.question legend {
  margin: 0 2rem;
  padding: 0 1rem;

  font-size: 1.2rem;
}

.question-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.question-main form {
  flex: 1 30rem;
}

.question-main img {
  margin: 2rem;
  max-width: 40%;

  border-radius: 5px;
  box-shadow: 0 0 0.5rem var(--shadow);
}

@media screen and (max-width: 1100px) {
  .question-main img {
    margin-left: 0;
    max-width: 100%
  }
}

.answers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
}

@media screen and (max-width: 600px) {
  .answers {
    grid-template-columns: unset;
    grid-auto-columns: 1fr;
  }
}

.warning {
  width: fit-content;
  padding: 1rem;

  display: flex;
  align-items: center;

  color: var(--vt-c-text-light-1);
  background-color: var(--warning);

  border-radius: 5px;
  box-shadow: 0 0 0.3rem var(--shadow);
}

.warning svg {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;

  fill: var(--vt-c-text-light-1);
}

.play-quizz {
  max-width: unset;
}

.play-quizz .field {
  max-width: 50rem;
}

.play-quizz-question-margin {
  margin-top: 5rem;
}

@media screen and (max-width: 600px) {
  .play-quizz-question-margin {
    margin-top: 3rem;
  }
}

.play-quizz-question {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.play-quizz-question > section {
  flex: 1 50%;
}

.play-quizz-question > img {
  margin-left: 5rem;
  max-width: 40%;
  border-radius: 5px;
  box-shadow: 0 0 0.3rem var(--shadow);
}

@media screen and (max-width: 1100px) {
  .play-quizz-question img {
    margin-top: 2rem;
    margin-left: 0;
    max-width: 100%
  }
}

.answer-selection {
  display: flex;
  align-items: center;
}

.answer-selection input {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.answer-correct {
  color: var(--color-green);
}

.answer-incorrect {
  color: var(--color-red);
}
